torch>=1.10
torchvision>=0.8.2
tqdm
numpy
pillow
ftfy
regex
ipykernel
torchaudio
xformers
diffusers
transformers
accelerate
safetensors
clip-anytorch
scipy
opencv-python
matplotlib
black
einops
omegaconf
pandas
gradio>=3.5.0
scikit-image
lpips

git+https://github.com/openai/CLIP.git

